.checkout-success-bg {
    background-image: url(https://bit.ly/2P7GhNd);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 518px;

    @include media-breakpoint-up(md) {
        height: 460px;
    }
}

.mb-md-50px {
    @include media-breakpoint-up(md) {
        margin-bottom: 50px;
    }
}
.mt-30px {
    margin-top: 30px;
}